*{
	box-sizing: border-box;
}
header{
	color: white;
	max-width: 900px;
	width: 900px;
	margin: auto;
	height: 110px;
}
header h1{
	font-family: century gothic;
	font-weight: normal;
	font-size: 4em;
	margin-top: 0;
	padding-top: 15px;
}
body{
	background-color: #7f3f91;
	width: 100%;
	margin: auto;
	font-family: Helvetica, Arial, sans-serif;
}
.fl-left{
	float: left;
}
.fl-right{
	float: right;
}
.col-1-2{
	width: 50%;
}
h3{
	text-align: right;
	padding-bottom: 20px;
}
section{
	padding: 50px;
	line-height: 1.8em;
	text-align: center;
    left:0;
    top: 120px;
    right:0;
    background: linear-gradient(#FFFFFF, #8C489F);
}
body div{
	max-width: 900px;
	margin: auto;
}
header a{
	color: white;
	text-decoration: none;
	padding:20px;
	padding-bottom: 50px;
	font-family: century gothic;
}
header a:hover{
	background-color: white;
	color:#8C489F;
}
section nav{
	background-color: #8C489F;
	border-radius: 10px;
}
section a{
	color: black;
	text-decoration: none;
	font-family: century gothic;
	border-left: 4px solid white;
	padding: 5px 4px;
}
section a:hover{
	background-color: white;
	color:#8C489F;
}
section a:last-child{
	border-right: 4px solid white;
}
section h1{
	padding-top: 50px;
}
blockquote{
    padding: 15px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px; 
}
.listi {
	text-align: left;
	grid-area: listi;
	display: grid;
}
.listi h4 {
	text-align: center
}
.innri {
	grid-area: innri;
	display: grid;
	list-style-type: none;
}
.ytri {
	grid-area: ytri;
	display: grid;
	list-style-type: none;
}
footer{
	margin:0;
	width: 100%;
	height: 200px;
	background-color:#7f3f91;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "listi, innri, ytri";
	display: flex;
    flex-flow: row;
	justify-content: space-around;
}
footer nav{
	text-align: center;
	margin: auto;
}
footer a{
	text-decoration: none;
	color: white;
}
footer p{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
#upp{
	font-size: 3em;
	background-color: white;
	padding: 20px;
	border-radius: 50px; 
	color: #7f3f91;
	position: fixed;
	bottom: 50px;
	text-decoration: none;
	right: 50px;
}
#upp:hover{
	background-color: #7f3f91;
	color: white;
}
#brandarar{
	text-align: left;
}
#brandarar h3{
	text-align: left;
	color: #8C489F;
	padding-top: 30px;
	padding-bottom: 0px;
}
#brandarar a{
	border: 0;
	color: #8C489F;
	padding: 0;
}
#brandarar a:hover{
	background-color: transparent;
	color: #8C489F;
}
dd {
	color: white;
}
@media screen and (max-width: 900px) {
  .fl-left, .fl-right{
  	float: none;
  }
  .col-1-2{
  	width: 100%;
  }
  header{
  	width: 100%;
  	margin: 0;
  }
  header h1{
  	text-align: center;
  	margin-top: 20px;
  	max-width: 900px;
  }
  section{
  	top: 200px;
  }
  header nav{
  	width: 100%;
  	margin:auto;
  	text-align: center;
  	max-width: 900px;
  }
  header h3{
  	position: fixed;
  	top: 0;
  	right: 0;
  }
  body{
  	width: 100%;

  }
}
img {
	max-width: 100%;
	height: auto;
}