* {
    box-sizing: border-box;
}
body {
background: linear-gradient(270deg, black, yellow);
background-size: 400% 400%;

-webkit-animation: AnimationName 1s ease infinite;
-moz-animation: AnimationName 1s ease infinite;
-o-animation: AnimationName 1s ease infinite;
animation: AnimationName 1s ease infinite;

}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@keyframes AnimationName { 
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
html, body {
    max-width: 60em;
    margin: auto;
    border: solid black;
    font-family: 'VT323', monospace;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "topnav"
        "content"
        "footer"
}
header {
    border: 1px solid black;
    text-align: center;
    grid-area: header;
}
nav {
    border: 1px solid black;
}
main {
    border: 1px solid black;
}
.topnav {
    background-color: black;
    grid-area: topnav;
}
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding: .5em 0;
    list-style-type: none;
}
.topmenu a {
    text-decoration: none;
    padding: .5em;
}
.topmenu a.virkur {
    background-color: yellow
}
.content {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas: "vinstri midja haegri";
    grid-area: content;
}
footer {
    grid-area: footer;
}
p h4 {
    padding: 0.5em 1em;
}
h4 {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}
.midja {
    grid-area: midja;
}
.vinstri {
    grid-area: vinstri;
}
.haegri {
    grid-area: haegri;
    background-color: yellow;
}
p {
    padding: 0 1em;
}
#centerfade {
    background-image: linear-gradient(black, yellow, black);
}
#refade {
    background-image: repeating-linear-gradient(black, yellow 10%, black 20%);
}
#radialcirclefade {
    background-image: radial-gradient(black, yellow, black);
}
#recirclefade {
    background-image: repeating-radial-gradient(black, yellow 10%, black 15%);
}
#altradialcirclefade {
    background-image: radial-gradient(black 5%, yellow 15%, black 60%);
}
.button {
    padding: 45px 96px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
}
.obnoxious {
    color: yellow;

    /* Chrome, Safari, Opera */
    -webkit-animation: obnoxious .2s infinite;
   
   /* Internet Explorer */
    -ms-animation: obnoxious .2s infinite;
   
  /* Standar Syntax */
    animation: obnoxious .2s infinite; 
}
 
 /* Chrome, Safari, Opera */
@-webkit-keyframes obnoxious{
    100%{color: yellow;} 	
    100%{color: black;}
}
 /* Internet Explorer */
@-ms-keyframes obnoxious{
    100%{color: yellow;}	
    100%{color: black;}	
}
 
 /* Standar Syntax */
@keyframes obnoxious{
    100%{color: yellow;}	
    100%{color: black;}	
}
.obnoxious {
    color: yellow;
}
h2 {
    text-align: center
}