* {
    box-sizing: border-box;
    border: 1px red;
    font-family: 'Open Sans', sans-serif;
}
body {
    max-width: 60em;
    margin: 0% auto;
    border: solid red;
}
header {
    border: 1px solid green;
    text-align: center;
}
nav {
    border: 1px solid yellow;
}
main {
    border: 1px solid blue;
}
.topnav {
    background-color: brown;
}
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding: .5em 0;
    list-style-type: none;
}
.topmenu a {
    text-decoration: none;
    color: yellow;
    padding: .5em;
}
.topmenu a:visited {
    color: white;   
}
.topmenu a:hover .topmenu a:active {
    background-color: yellow;
    color: brown;
}
.content {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "midja haegri vinstri";
}
/*
dálkar í content
*/
.midja {
    grid-area: midja;
}
.vinstri {
    grid-area: vinstri;
}
.haegri {
    grid-area: haegri;
}
p {
    padding: 0 1em;
}


/*
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.serif {
    font-family: 'Times New Roman', Times, serif;
}
.sansSerif {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.monotype {
    font-family: 'Courier New', Courier, monospace;
}
.trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.helvetica {
    font-family: Helvetica, sans-serif;
}
.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.verk {
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    color: cornflowerblue;
}
.blu {
    border-color: orange;
}
.smol {
    font-size: 0.6em;
    letter-spacing: 0.04em;
    line-height: 1.6;
}
.poster {
    font-family: impact, charcoal, sans-serif;
    font-size: 6em;
    text-align: center;
    background: cornflowerblue;
}
.poster:hover {
    background: greenyellow;
    stroke: black;
}
.purple {
    color: purple;
    font: bold;
}
.rainbow {
    -webkit-animation:rainbow .1s infinite;
    -ms-animation:rainbow .5s infinite;
    -o-animation:rainbow .5s infinite;
    animation:rainbow .5s infinite;
}
    @-webkit-keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
}
    @-ms-keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
}
    @-o-keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
}
    @keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
}
*/