* {
    box-sizing: border-box;
}
html, body {
    max-width: 60em;
    margin: auto;
    border: solid blue;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "topnav"
        "content"
        "footer"
}
header {
    border: 1px solid blue;
    text-align: center;
    grid-area: header;
}
nav {
    border: 1px solid blue;
}
main {
    border: 1px solid blue;
}
.topnav {
    background-color: brown;
    grid-area: topnav;
}
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding: .5em 0;
    list-style-type: none;
    
}
.topmenu a {
    text-decoration: none;
    color: yellow;
    padding: .5em;
}
.topmenu a:visited {
    color: white;   
}
.topmenu a:hover .topmenu a:active {
    background-color: yellow;
    color: brown;
}
.topmenu a.virkur {
    color: black;
    background-color: yellow
}
.content {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "haegri vinstri midja";
    grid-area: content;
}
footer {
    grid-area: footer;
}
p h4 {
    padding: 0.5em 1em;
}
h4 {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}
.midja {
    grid-area: midja;
}
.vinstri {
    grid-area: vinstri;
}
.haegri {
    grid-area: haegri;
    background-color: yellow;
}
p {
    padding: 0 1em;
}
#centerfade {
    background-image: linear-gradient(blue, yellow, blue);
}
#refade {
    background-image: repeating-linear-gradient(blue, yellow 10%, blue 20%);
}
#radialcirclefade {
    background-image: radial-gradient(blue, yellow, blue);
}
#recirclefade {
    background-image: repeating-radial-gradient(blue, yellow 10%, blue 15%);
}
#altradialcirclefade {
    background-image: radial-gradient(blue 5%, yellow 15%, blue 60%);
}