<div id="container">
<form>
    <legend>Dingding's</legend>
    <label>
        <text>Nafn</text><br>
        <input name="nafn" type="text" placeholder="Jón Jónsson" required><br>
    </label>
    <label>
        <text>Hemilisfang</text><br>
        <input name="heimilisfang" type="text" pattern="[a-zA-Z]{1,} [0-9]{1,}" placeholder="gata 'húsnúmer'"required><br>
    </label>
    <label>
        <text>Póstnúmer</text><br>
        <input name="póstnúmer" type="text" pattern="[0-9]{3}" placeholder="000" required><br>
    </label>
    <label>
        <text>Tölvupóstur</text><br>
        <input name="tölvupóstur" type="email"  placeholder="nafn@email.is" required><br>
    </label>
    <label class="check">
        <text>Gleraugu</text><br>
        <div class="container">
            <input type="checkbox" name="gleraugu" value="já" class="checkbox"><br>
            <span class="checkmark"></span><br>
        </div>
    </label>
    <label>
        <text>Lítill</text><br>
        <div class="container">
            <input type="radio" name="stærð" value="lítill"><br>
            <span class="checkmark"></span><br>
        </div>
        <text>Miðlungs</text><br>
        <div class="container">
            <input type="radio" name="stærð" value="miðlungs" checked><br>
            <span class="checkmark"></span><br>
        </div>
        <text>Stór</text><br>
        <div class="container">
            <input type="radio" name="stærð" value="stór"><br>
            <span class="checkmark"></span><br>
        </div>
    </label>
    <label>
        <text>Magn</text><br>
        <select name="magn" required>
            <option value="">Ekkert valið</option>
            <option value="1">Einn</option>
            <option value="2">Tveir</option>
            <option value="3">Þrír</option>
        </select>
    </label>
    <div id="submit_wrap">
        <input name="panta" type="submit" value="Panta" class="submit">
    </div>
</form>
</div>