$colors: (
    main: #FF2A19,
    sec: #7F150C,
    third: #dc2b1b,
    fourth: #B6160C
);
@function color($color-name) {
    @return map-get($colors, $color-name)
}
$body-bg: transparent;
$imagePath: "../images";
@import url('https://fonts.googleapis.com/css?family=Roboto|Questrial');
* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body, html {
    height: 100%;
    margin: 0;
}
body {
    width: 100%;
    margin-top: 60px;
    background-color: color(main);
    font-family: sans-serif;
    background: url("#{$imagePath}/trianglify.svg") repeat-x fixed 0 0;

    #white {
        background-color: #F0F0F0;
        width: 100%;
        padding: 7px;
    }
}
.logo {
    height: 200px;
    width: 200px;
    margin-left: 10%;
    margin-right: auto;
}
main {
    max-width: 1100px;
    margin: auto;
}
img {
    max-width: 100%;
    height: auto;
    overflow: auto;
}
hr {
    color: color(main);
    height: 1px;
    border: 0px;
    border-top: 1px solid color(main);
    margin: 2em 4% 0em 4%;
    padding: 0; 
}
blockquote {
  padding: 8px;
  border: color(sec) solid 5px;
  background-color: color(main);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(#{$imagePath}/tri1.svg)
}
.maintext {
  padding-top: 30px;
  text-align: center;
  margin: 5% 0% 3.5% 0;
}
header {
    display: flex;
    text-align: left;
}
h1 {
    font-weight: normal;
    margin-top: 0;
    font-family: 'Questrial', sans-serif;
}
p {
    padding: 15px;
}
.navbar {
    background-color: color(third);
    color:white;
    text-align: center;
    position: fixed; 
    top: 0; 
    width: 100%;
    border-top: color(fourth) solid 4px;
    box-shadow: 0px 3px 50px #000000;
    z-index: 999999;
}
.navbar div{
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    margin: auto;
}
.navbar a{
    display: block;
    color: white;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.navbar a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -50px;
  left: 0;
  right: 0;
  bottom: -30px;
  border-radius: 20px;
  background: color(fourth);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navbar a:hover, .navbar a:focus, .navbar a:active {
  color: white;
}
.navbar a:hover:before, .navbar a:focus:before, .navbar a:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  background: color(fourth);
}
.undernav{
    background-color: color(third);
    color:white;
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 60px;
}
.undernav a{
    display: inline-block;
    color: white;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.undernav a:hover{
    background-color: color(fourth); 
}
section h2{
    font-weight: normal;
    font-size: 2.5em;
    color: red;
    font-family: 'Questrial', sans-serif;
    margin-bottom: 0px;
}
section p{
    margin-top: 0px; 
}
article {
    float: left;
    padding: 8px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: rgba(0,0,0,0.1) solid 7px;
    border-radius: 20px;
    background-color: color(main);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: border 0.3s; /* Safari */
    transition: border 0.3s;
    color: white;
    font-family: 'Roboto';
    line-height: 1.6em;
}
article h3{
    font-weight: normal;
    padding-top: 20px;
    font-size: 1.8em;
    margin: 0;
}
article h4{
    font-weight: bold;
    letter-spacing: 0.4em;
    margin: 0;
    margin-left: 30px;
    margin-top: 10px;
}
article:hover{
    border: rgba(255,255,255,0.3) solid 7px;
    -webkit-transition: border 0.3s; /* Safari */
    transition: border 0.3s;
}
blockquote h2{
    color: white
}
.luxury{
    letter-spacing: 0.3em;
}
.tri1 {
    background-image: url(#{$imagePath}/trianglify1.svg);
}
.tri2 {
    background-image: url(#{$imagePath}/trianglify2.svg);
}
.tri3 {
    background-image: url(#{$imagePath}/trianglify3.svg);
}
#samband {
    grid-area: samband;
}
#bluefade {
    background: color(main);
    background: linear-gradient(0deg, color(main) 5%, white 100%);
}

#background {
    background: url("#{$imagePath}/trianglify.svg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
@media screen and (max-width: 900px) {
    body {
        margin-top: 35%;
        width: 100%;
    }
    main {
        width: 100%;
    }
    .undernav a{
        display: block;
        color: white;
        font-family: 'Questrial', sans-serif;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    header {
        margin-top: 10em;
    }
    h2 {
        text-align: center;
    }
    section {
        background-color: #F0F0F0;
    }
    .iframe-mobile {
        height: 100%;
    }
    
}

@keyframes spin {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}
/* animation: spin 3s linear infinite alternate; */

.spin{
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.adwrapper {
    margin-top: 5px;
    height: 125px;
    width: 100%;
    border: 3px solid color(main);
    border-radius: 3px; 
    box-shadow: inset 0 0 7.5px #000000;
    margin-bottom: 25em;
    overflow: hidden;
    background: linear-gradient(296deg, #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, #00ff7f, #00ffff, #007fff, #0000ff, #7f00ff, #ff00ff, #ff007f, #ff0000);
    background-size: 2600% 2600%;
    animation: rainbow_B 15s ease infinite;
    position: relative;

    .longboi {
        background: url("#{$imagePath}/lobster.png") repeat-x;
        background-size: 375px 125px; 
        height: 100%;
        animation: lobster 7.5s infinite 0s linear;
        text-align: center;
        font-family: 'Dokdo', cursive;

        p {
            padding: 0;
            margin: 0;
            color: white;
            font-size: 20px;
            animation: howhedoit 2s infinite 0s linear;
        }

        a {
            background-color: #eeff00;
            color: color(main);
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            border-radius: 7px;
            border: color(main) solid 3px;
            animation: adbutton 1s infinite 0s linear;
        }

        a:hover {
            background-color: #00ffff;
            border-color: #007fff;
            color: #007fff;
            font-size: 20px;
            animation: adbutton_hover 1s infinite 0s linear
        }
    }
}
form {
    border: color(main) solid 2px;
    border-radius: 2px;
    margin: 15px 0 15px 0;
    padding: 0 15px;
    position: relative;
    width: fit-content;

    legend {
        margin: 10px;
        font-size: 26.5px;
    }

    label {
        margin-left: 0px;
    }
    
    input {
        border-radius: 2px;
        border: color(main) solid 2px;
        margin-bottom: 10px;
        position: relative;
    }

    .submit {
        border: #7f00ff solid 2px;
        color: #ff7f00;
        background-color: #00ffff;
        padding: 7px 38px 7px 38px;
        cursor: pointer;
    }
}
@keyframes howhedoit {
    0%  {transform: skewX(25deg) skewY(1deg);}
    50% {transform: skewX(-25deg) skewY(-1deg);}
    100%{transform: skewX(25deg) skewY(1deg);}
}
@keyframes lobster {
    0%  {background-position: 0 0;}
    100%{background-position: 750px 0;}
}
@keyframes adbutton {
    0%  {background: #eeff00; font-size: 20px;}
    50% {background: #e7d321; font-size: 24px;}
    100%{background: #eeff00; font-size: 20px;}
}
@keyframes adbutton_hover {
    0%  {background-color: #00ffff; font-size: 20px;}
    50% {background-color: #00ff00; font-size: 24px;}
    100%{background-color: #00ffff; font-size: 20px;}
}
@keyframes rainbow_A {
    0%  {background-color: #ff0000;}
    8%  {background-color: #ff7f00;}
    16% {background-color: #ffff00;}
    25% {background-color: #7fff00;}
    33% {background-color: #00ff00;}
    41% {background-color: #00ff7f;}
    50% {background-color: #00ffff;}
    58% {background-color: #007fff;}
    66% {background-color: #0000ff;}
    75% {background-color: #7f00ff;}
    83% {background-color: #ff00ff;}
    91% {background-color: #ff007f;}
    100%{background-color: #ff0000;}
}
@keyframes rainbow_B {
    0%  {background-position:0% 51%}
    50% {background-position:100% 50%}
    100%{background-position:0% 51%}
}