* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin-top: 20%;
    background-color: #5257FF;
    font-family: sans-serif;
}
main {
    display: grid;
	grid-template-columns: 1fr;
    grid-template-areas: 
    "hver"
    "feril"
    "samband";
}
img {
	max-width: 100%;
    height: auto;
    overflow: auto;
}
hr {
    color: #FFDE52;
    height: 1px;
    border: 0px;
    border-top: 1px solid #FFDE52;
    margin: 2em 4% 0em 4%;
    padding: 0; 
}
blockquote {
    padding: 8px;
    border: #282CB2 solid 5px;
    background-color: #5257FF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/trianglify1.svg)
}
.maintext {
    text-align: center;
    margin: 5% 0% 3.5% 0;
}
.phone {
    height: 200px;
    width: 200px;
    float: left;
}
.profilepic {
    border-radius: 50%;
    float: left;
    padding: 15px;
    width: 280px;
    height: 280px;
}
.ferilskra {
    float: left;
    padding: 15px;
    width: 250px;
    height: 250px;
}
.loftorka {
    float: left;
    padding: 15px;
    width: 350px;
    height: 250px;
}
header {
    display: flex;
    text-align: center;
    background-color: #FFDE52;
    border-bottom: #B29416 solid 3px;
}
h1 {
	font-weight: normal;
	font-size: 4em;
    margin-top: 0;
    font-family: 'Allerta Stencil', sans-serif;
}
p {
    padding: 15px;
}
.sickle {
    float: left;
    height: 80px;
    width: 90px;
}
.head-box {
    float: left;
    width: 50%;
    padding: 30px;
}
.navbar {
    overflow: hidden;
    background-color: #FFDE52;
    position: fixed; 
    top: 0; 
    width: 100%;
    border-bottom: #B29416 solid 3px;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #B29416;
    color: white;
}
#hver {
    grid-area: hver;
    margin-top: 2em;
}
#feril {
    grid-area: feril;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "vinnuskoli"
    "skatar"
    "loftorka";
}
article {
    float: left;
    padding: 8px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: #282CB2 solid 5px;
    background-color: #5257FF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#vinnuskoli {
    grid-area: vinnuskoli;
}
.vinnuskoli {
    background-image: url(../img/trianglify1.svg);
}
#skatar {
    grid-area: skatar; 
}
.skatar {
    background-image: url(../img/trianglify2.svg);
}
#loftorka {
    grid-area: loftorka;
}
.loftorkaimg {
    background-image: url(../img/trianglify3.svg);
}
#samband {
    grid-area: samband;
}
#bluefade {
    background: rgb(40,44,178);
    background: linear-gradient(0deg, rgba(40,44,178,1) 0%, rgba(82,87,255,1) 100%);
}
#bluebackground {
    background-image: url(../img/trianglify.svg);
    background-repeat: no-repeat; 
    background-position: cover;
}