body {
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
    border: 3px solid blue; /* 3 skipanir í einni */
    width: 50em;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
}
h1 {
    color: blue;
}
h2 {
    color: brown;
}
.Lennon {
    color: #00f;
    font-style: italic;
}
.Lennon strong {
    color: red;
} 
ul li {
    color:limegreen;
}
.Rautt {
    color: red;
}
.Aqua {
    color: aqua
}
.Gult {
    color: yellow
}
.Grænt {
    color: greenyellow
}
.Fjólublár {
    color: blueviolet
}
.Blár {
    color: blue
}
.Teal {
    color: teal
}
.Rautt, .Aqua, .Gult, .Grænt, .Fjólublár, .Blár, .Teal {
    text-align: center;
    font-family: Helvetica;
}
.Elvis {
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.center {
    text-align: center;
}
